* {
   font-family: "Elms Sans", sans-serif;
   font-size: 23px;
}

html,
body {
   margin: 0;
   padding: 0;
   background-color: #f4effa;
}

h1 {
   font-family: "Audiowide", sans-serif;
   font-weight: 400;
   font-style: normal;
}

.navbar {
   display: flex;
   justify-content: center;
}

.navbar ul {
   list-style-type: none;
   display: flex;
   flex-direction: row;
   gap: 75px;
}

.navbar li:hover {
   background-color: rgb(210, 151, 210);
   border-radius: 10px;
}

.navbar li {
   font-size: 25px;
   font-weight: bold;
   padding: 2% 2%;
}

.landing-div {
   background-image: url(images/pawel-czerwinski-009elgvBM_A-unsplash.jpg);
   background-size: cover;

   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 675px;
}

.landing-info {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.landing-text {
   display: flex;
   flex-direction: column;
   gap: 0;
}

.landing-text h1 {
   font-size: 100px;
   margin: 0;
}

.landing-text h2 {
   font-size: 40px;
   margin: 0;
}

.box-flex {
   display: flex;
   align-items: center;
   justify-content: center;
}

.box-flex p {
   font-size: 30px;
   font-weight: bold;
   text-align: center;
   width: 600px;
}

.shop-div {
   display: grid;
   grid-template-columns: auto auto auto;
   padding: 10px;
   margin: auto 0;
}

.shop-item {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.shop-item:hover {
   transform: translateY(-5px);
}

.shop-item p {
   margin: 3px;
}

.actions {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

button {
   border-radius: 10px;
   background-color: rgb(210, 151, 210);
   border: none;
   width: 125px;
   padding: 2%;
}

button:hover {
   background-color: rgb(226, 153, 232);
}

@media (max-width: 900px) {
   .navbar li {
      font-size: 15px;
   }
   .landing-div {
      background-size: auto;
   }
   .landing-info {
      flex-direction: column;
   }

   .landing-text h1 {
      font-size: 55px;
   }

   .landing-text h2 {
      font-size: 25px;
   }
   .shop-div {
      grid-template-columns: auto auto;
   }

   .box-flex {
      flex-direction: column;
   }
   .box-flex p {
      font-size: 20px;
   }
}

@media (max-width: 600px) {
   .shop-div {
      grid-template-columns: auto;
   }

   .box-flex p {
      width: 300px;
   }
}
